%% Generated - edit/create /Users/ivanp/code/elixir/hello/rel/hello/sys.config instead.
[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[user_id]}]},
      {level,info}]},
 {hello,
     [{ecto_repos,['Elixir.Hello.Repo']},
      {'Elixir.HelloWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.HelloWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Hello.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {secret_key_base,
               <<"e0bHsOHZ45/lA0TukB9WPxyKe3doOjGeiF1EDSIj0nMhOGmzslJ4cywrN2qTMr8M">>}]},
      {'Elixir.Hello.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"hello_prod">>},
           {pool_size,15}]}]}].
